{% extends "_base_new.html" %}

{% load todo_extras %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    <div class="w-full mt-2 mb-6 text-2xl font-medium">Dashboard</div>

    <div class="flex flex-row gap-x-2">
        <div class="shadow grow stats">
            <a href="#">
                <div class="stat">
                    <div class="stat-value {% if counts.past > 0 %}text-error{% endif %}">{{ counts.past }}</div>
                    <div class="stat-title">Past Due</div>
                </div>
            </a>
            <a href="#">
                <div class="stat">
                    <div class="stat-value {% if counts.today > 0 %}text-warning{% endif %}">{{ counts.today }}</div>
                    <div class="stat-title">Due Today</div>
                </div>
            </a>
            <a href="#">
                <div class="stat">
                    <div class="stat-value {% if counts.soon > 0 %}text-warning{% endif %}">{{ counts.soon }}</div>
                    <div class="stat-title">Due Next 3 Days</div>
                </div>
            </a>
            <a href="#">
                <div class="stat">
                    <div class="stat-value">{{ counts.later }}</div>
                    <div class="stat-title">Due Later</div>
                </div>
            </a>
            <a href="#">
                <div class="stat">
                    <div class="stat-value">{{ counts.none }}</div>
                    <div class="stat-title">No Due Date</div>
                </div>
            </a>
        </div>
        <form method="post" action="{% url "todoguardian:add_todo" %}" class="flex flex-col w-2/5 gap-y-1">
            {% csrf_token %}

            <label class="flex items-center gap-2 input input-bordered grow">
                <input name="todo_string" type="text" class="grow" placeholder="(A) Some todo that is due:today" />
                <div class="tooltip tooltip-left" data-tip="Use todo.txt format, natural days are supported (e.g., due:today). For projects and contexts use - instead of a space.">
                    <i class="fa-solid fa-circle-question text-neutral-content"></i>
                </div>
            </label>
            <button class="btn" type="submit">
                <i class="fa-solid fa-plus"></i>Add todo
            </button>
        </form>
    </div>

    <div class="mt-4 overflow-x-auto">
        <table class="table table-zebra">
            <thead>
                <tr>
                    <th><i class="mr-2 fa-solid fa-align-left"></i>Description</th>
                    <th><i class="mr-2 fa-solid fa-play"></i>Start Date</th>
                    <th><i class="mr-2 fa-solid fa-calendar-days"></i>Due Date</th>
                    <th><i class="mr-2 fa-solid fa-repeat"></i>Interval</th>
                    <th><i class="mr-2 fa-solid fa-gears"></i>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                    {% show_todo todo %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}