{% extends "_base.html" %}

{% load todo_extras %}
{% load humanize %}

{% block title %}
    {% if counts is not None %}
        Dashboard 
    {% else %}
        Dashboard - Completed 
    {% endif %}
{% endblock title %}

{% block content %}
    <div class="w-full mt-2 mb-6 text-2xl font-medium">
        {% if counts is not None %}
            Dashboard 
        {% else %}
            Archive
        {% endif %}
    </div>

    <div class="flex mb-2 laptop:hidden">
        <button class="flex grow bg-neutral-content text-neutral chip hover:bg-info hover:text-info-content" onclick="add_todo.showModal()">
            <i class="mr-2 fa-solid fa-plus"></i>Add new todo
        </button>
    </div>

    <div class="flex flex-col gap-y-2 laptop:hidden">
        {% for todo in todos %}
            <div class="flex flex-col p-2 border rounded-md border-neutral-content gap-y-2">
                <div class="flex flex-row items-center justify-between pb-2 border-b border-neutral-content">
                    <div class="font-semibold">{{ todo.description }}</div>

                    {% if todo.priority %}
                        {% if todo.priority == "A" %}
                            <div class="badge badge-accent">{{ todo.priority|default:"-" }}</div>
                        {% elif todo.priority == "B" %}
                            <div class="badge badge-primary">{{ todo.priority|default:"-" }}</div>
                        {% elif todo.priority == "C" %}
                            <div class="badge badge-secondary">{{ todo.priority|default:"-" }}</div>
                        {% else %}
                            <div class="badge badge-info">{{ todo.priority|default:"-" }}</div>
                        {% endif %}
                    {% endif %}
                </div>

                <div class="grid grid-cols-3 mt-2 text-sm">
                    <div class="flex flex-row justify-between col-span-2 gap-x-2">
                        <div>
                            <i class="mr-3 fa-solid fa-play"></i>{{ todo.start_date|naturalday:"D d.m.Y"|capfirst }}
                        </div>
                        <div>
                            {% if todo.recurrence %}
                                <i class="mr-2 fa-solid fa-repeat"></i>{{ todo.recurrence }}
                            {% endif %}
                        </div>
                    </div>
                        {% if todo.is_completed %}
                            <div class="flex items-center justify-center w-12 h-12 row-span-2 rounded justify-self-end bg-success text-success-content">
                                <i class="text-2xl fa-solid fa-check"></i>
                            </div>
                        {% elif todo.is_due_soon %}
                            <div class="flex items-center justify-center w-12 h-12 row-span-2 rounded justify-self-end bg-warning text-warning-content">
                                <span class="text-2xl fa-solid fa-triangle-exclamation"></span>
                            </div>
                        {% elif todo.is_overdue %}
                            <div class="flex items-center justify-center w-12 h-12 row-span-2 rounded justify-self-end bg-error text-error-content">
                                <span class="text-2xl fa-solid fa-circle-exclamation"></span>
                            </div>
                        {% endif %}

                    <div class="col-span-2">
                        {% if todo.due_date is not None %}
                            <i class="mr-2 fa-solid fa-calendar-days"></i>{{ todo.due_date|naturalday:"D d.m.Y"|capfirst }}
                        {% endif %}
                    </div>
                </div>

                {% if todo.annotations.count > 0 %}
                    <div class="flex flex-col w-full mt-2 text-sm">
                        {% for annotation in todo.annotations.all %}
                            <div>
                                {{ annotation.text }} <span class="text-xs font-semibold">({{ annotation.created|naturaltime }})</span>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if todo.contexts.count > 0 or todo.projects.count > 0 %}
                    <div class="flex flex-row mt-2 gap-x-2">
                        {% if todo.contexts.count > 0 %}
                            <div class="flex flex-row flex-wrap justify-center flex-auto gap-2">
                                {% for context in todo.contexts.all %}
                                    <div class="bg-info text-info-content chip">
                                        <span><i class="fa-solid fa-tag"></i></span>
                                        <span>{{ context.name }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if todo.projects.count > 0 %}
                            <div class="flex flex-row flex-wrap justify-center flex-auto gap-2">
                                {% for project in todo.projects.all %}
                                    <div class="bg-accent text-accent-content chip">
                                        <span><i class="fa-solid fa-clipboard"></i></span>
                                        <span>{{ project.name }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                <div class="flex flex-row h-16 p-2 mt-2 border-t gap-x-2 border-neutral-content">
                    <form method="post" action="{% url "todoguardian:complete_todo" %}" class="flex grow">
                        {% csrf_token %}
                        <input type="hidden" name="todo_id" value="{{ todo.id }}" />

                        {% if todo.is_completed %}
                            <button class="flex grow bg-neutral-content text-neutral chip hover:bg-success hover:text-success-content" type="submit">
                                <i class="text-2xl fa-solid fa-rotate-left"></i>
                            </button>
                        {% else %}
                            <button class="flex grow bg-neutral-content text-neutral chip hover:bg-success hover:text-success-content" type="submit">
                                <i class="text-2xl fa-solid fa-check"></i>
                            </button>
                        {% endif %}
                    </form>

                    {% if not todo.is_completed %}
                        <button class="flex grow bg-neutral-content text-neutral chip hover:bg-info hover:text-info-content" onclick="edit_todo_{{ todo.id }}.showModal()">
                            <i class="text-2xl fa-solid fa-pencil"></i>
                        </button>
                        <button class="flex grow bg-neutral-content text-neutral chip hover:bg-info hover:text-info-content" onclick="postpone_todo_{{ todo.id }}.showModal()">
                            <i class="text-2xl fa-solid fa-clock-rotate-left"></i>
                        </button>
                        <button class="flex grow bg-neutral-content text-neutral chip hover:bg-info hover:text-info-content" onclick="annotate_todo_{{ todo.id }}.showModal()">
                            <i class="text-2xl fa-solid fa-pen-to-square"></i>
                        </button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    {% if counts is not None %}
        <div class="hidden gap-x-2 laptop:flex laptop:flex-row">
            <div class="shadow grow stats">
                <a href="{% url "todoguardian:dashboard" %}?filter=past">
                    <div class="stat">
                        <div class="stat-value {% if counts.past > 0 %}text-error{% endif %}">{{ counts.past }}</div>
                        <div class="stat-title">Past Due</div>
                    </div>
                </a>
                <a href="{% url "todoguardian:dashboard" %}?filter=today">
                    <div class="stat">
                        <div class="stat-value {% if counts.today > 0 %}text-warning{% endif %}">{{ counts.today }}</div>
                        <div class="stat-title">Due Today</div>
                    </div>
                </a>
                <a href="{% url "todoguardian:dashboard" %}?filter=soon">
                    <div class="stat">
                        <div class="stat-value {% if counts.soon > 0 %}text-warning{% endif %}">{{ counts.soon }}</div>
                        <div class="stat-title">Due Next 3 Days</div>
                    </div>
                </a>
                <a href="{% url "todoguardian:dashboard" %}?filter=later">
                    <div class="stat">
                        <div class="stat-value">{{ counts.later }}</div>
                        <div class="stat-title">Due Later</div>
                    </div>
                </a>
                <a href="{% url "todoguardian:dashboard" %}?filter=none">
                    <div class="stat">
                        <div class="stat-value">{{ counts.none }}</div>
                        <div class="stat-title">No Due Date</div>
                    </div>
                </a>
            </div>
            <form method="post" action="{% url "todoguardian:add_todo" %}" class="flex flex-col w-2/5 gap-y-1">
                {% csrf_token %}

                <label class="flex items-center gap-2 input input-bordered grow">
                    <input name="todo_string" type="text" class="grow" placeholder="(A) Some todo that is due:today" />
                    <div class="tooltip tooltip-left" data-tip="Use todo.txt format, natural days are supported (e.g., due:today). For projects and contexts use - instead of a space.">
                        <i class="fa-solid fa-circle-question text-neutral-content"></i>
                    </div>
                </label>
                <button class="btn" type="submit">
                    <i class="fa-solid fa-plus"></i>Add todo
                </button>
            </form>
        </div>
    {% endif %}

    {% if filter is not None %}
        <div class="hidden mt-4 ml-4 text-lg font-medium laptop:flex place-items-center">
            <a href="{% url "todoguardian:dashboard" %}">
                <i class="mr-2 fa-solid fa-times text-error hover:text-base-content"></i>
            </a>
            {% if filter == "past" %}
                Filter: Past Due
            {% elif filter == "today" %}
                Filter: Due Today
            {% elif filter == "soon" %}
                Filter: Due Next 3 Days
            {% elif filter == "later" %}
                Filter: Due Later
            {% else %}
                Filter: No Due Date
            {% endif %}
        </div>
    {% endif %}

    {% if project is not None %}
        <div class="hidden mt-4 ml-4 text-lg font-medium laptop:flex place-items-center">
            <a href="{% url "todoguardian:dashboard" %}">
                <i class="mr-2 fa-solid fa-times text-error hover:text-base-content"></i>
            </a>
            Filter: +{{ project.name }}
        </div>
    {% endif %}

    {% if context is not None %}
        <div class="hidden mt-4 ml-4 text-lg font-medium laptop:flex place-items-center">
            <a href="{% url "todoguardian:dashboard" %}">
                <i class="mr-2 fa-solid fa-times text-error hover:text-base-content"></i>
            </a>
            Filter: @{{ context.name }}
        </div>
    {% endif %}

    <div class="hidden mt-4 laptop:flex">
        <table class="table table-auto table-zebra">
            <thead>
                <tr>
                    <th><i class="mr-2 fa-solid fa-align-left"></i>Description</th>
                    <th><i class="mr-2 fa-solid fa-play"></i>Start Date</th>
                    <th><i class="mr-2 fa-solid fa-calendar-days"></i>Due Date</th>
                    <th><i class="mr-2 fa-solid fa-repeat"></i>Interval</th>
                    <th><i class="mr-2 fa-solid fa-gears"></i>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                    {% show_todo todo %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <dialog id="add_todo" class="modal modal-bottom laptop:modal-middle">
        <div class="modal-box">
            <h3 class="mb-2 font-semibold">
                <i class="mr-2 fa-solid fa-plus"></i>Add todo
            </h3>

            <form method="post" action="{% url "todoguardian:add_todo" %}">
                {% csrf_token %}

                <textarea name="todo_string" placeholder="(A) Some todo that is due:today" class="w-full textarea textarea-bordered h-52"></textarea>

                <button class="w-full mt-2 btn hover:btn-info" type="submit">
                    Save
                </button>
            </form>
        </div>

        <form method="dialog" class="modal-backdrop">
            <button clas="btn">close</button>
        </form>
    </dialog>

    {% for todo in todos %}
        <dialog id="edit_todo_{{ todo.id }}" class="modal modal-bottom laptop:modal-middle">
            <div class="modal-box">
                <h3 class="mb-2 font-semibold">
                    <i class="mr-2 fa-solid fa-pencil"></i>Update todo
                </h3>

                <form method="post" action="{% url "todoguardian:edit_todo" todo.id %}">
                    {% csrf_token %}

                    <textarea name="todo_string" placeholder="(A) Some todo this is due:today" class="w-full textarea textarea-bordered h-52">{{ todo.to_string }}</textarea>

                    <button class="w-full mt-2 btn hover:btn-info" type="submit">
                        Save
                    </button>
                </form>
            </div>

            <form method="dialog" class="modal-backdrop">
                <button clas="btn">close</button>
            </form>
        </dialog>

        <dialog id="postpone_todo_{{ todo.id }}" class="modal modal-bottom laptop:modal-middle">
            <div class="modal-box">
                <h3 class="mb-2 font-semibold">
                    <i class="mr-2 fa-solid fa-clock-rotate-left"></i>Postpone todo
                </h3>

                <form method="post" action="{% url "todoguardian:postpone_todo" todo.id %}">
                    {% csrf_token %}

                    <input type="text" name="pattern" placeholder="E.g., 5d" class="w-full input input-bordered" />

                    <button class="w-full mt-2 btn hover:btn-info" type="submit">
                        Save
                    </button>
                </form>
            </div>

            <form method="dialog" class="modal-backdrop">
                <button clas="btn">close</button>
            </form>
        </dialog>

        <dialog id="annotate_todo_{{ todo.id }}" class="modal modal-bottom laptop:modal-middle">
            <div class="modal-box">
                <h3 class="mb-2 font-semibold">
                    <i class="mr-2 fa-solid fa-pen-to-square"></i>Annotate todo
                </h3>

                {% if todo.annotations.count > 0 %}
                    <div class="hidden grid-cols-4 mt-2 mb-4 laptop:grid">
                        {% for annotation in todo.annotations.all %}
                            <div class="text-sm font-medium">{{ annotation.created|naturaltime|capfirst }}</div>
                            <div class="col-span-3 text-sm">{{ annotation.text }}</div>
                        {% endfor %}
                    </div>
                {% endif %}

                <form method="post" action="{% url "todoguardian:annotate_todo" todo.id %}">
                    {% csrf_token %}

                    <textarea name="annotation" placeholder="Add notes ..." class="w-full textarea textarea-bordered h-52"></textarea>

                    <button class="w-full mt-2 btn hover:btn-info" type="submit">
                        Save
                    </button>
                </form>
            </div>

            <form method="dialog" class="modal-backdrop">
                <button clas="btn">close</button>
            </form>
        </dialog>
    {% endfor %}
{% endblock content %}