{% extends "_base.html" %}
{% load humanize %}

{% block content %}
    <div class="m-8">
        {% if todos.count == 0 %}
            <div class="prose">
                <h3 class="prose-h3">No to-dos found</h3>
            </div>
        {% else %}
            <div class="grid grid-cols-12 items-center bg-base-100 border-b border-base-content p-2 mb-2 text-base-content font-medium text-sm">
                <div class="col-span-7">Todo</div>
                <div class="text-center">Priority</div>
                <div class="col-span-2 text-center">Projects</div>
                <div class="text-center">Due Date</div>
                <div class="text-center">Actions</div>
            </div>

            <div class="flex flex-col divide-y">
                {% for todo in todos %}
                    <div class="grid grid-cols-12 items-center bg-base-100 hover:bg-base-300 p-2">
                        <div class="col-span-7 flex flex-row items-center gap-x-2">
                            <div class="flex">
                                <input class="checkbox" type="checkbox" value="{{ todo.id }}" />
                            </div>

                            <div class="flex">
                                ICON
                            </div>

                            <div class="flex grow flex-col gap-y-2">
                                <div class="flex font-medium">{{ todo.description }}</div>

                                {% if todo.contexts.all.count > 0 or todo.start_date is not None %}
                                    <div class="flex flex-row gap-x-2">
                                        {% if todo.contexts.all.count > 0 %}
                                            <div class="flex gap-x-1">
                                                {% for context in todo.contexts.all %}
                                                    <div class="badge badge-primary">
                                                        <span class="material-symbols-rounded mr-1 text-sm">alternate_email</span>    
                                                        {{ context.name }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}

                                        {% if todo.start_date is not None %}
                                            <div class="badge badge-secondary">
                                                <span class="material-symbols-rounded mr-1 text-sm">not_started</span>
                                                {{ todo.start_date|naturalday:"D d b Y"|capfirst }}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="flex justify-center">
                            {% if todo.priority is None or todo.priority == "" %}
                                -
                            {% else %}
                                {% if todo.priority == "A" %}
                                    <div class="badge badge-error">high (A)</div>
                                {% elif todo.priority == "B" %}
                                    <div class="badge badge-warning">medium (B)</div>
                                {% elif todo.priority == "C" %}
                                    <div class="badge badge-success">low (C)</div>
                                {% else %}
                                    <div class="badge badge-info">very low ({{ todo.priority|capfirst }})</div>
                                {% endif %}
                            {% endif %}
                        </div>

                        <div class="text-center col-span-2">
                            {% if todo.projects.all.count == 0 %}
                                -
                            {% else %}
                                {% for project in todo.projects.all %}
                                    <div class="badge badge-primary">
                                        <span class="material-symbols-rounded mr-1 text-sm">assignment</span> 
                                        {{ project.name }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="text-center">{{ todo.due_date|naturalday:"D d b Y"|capfirst }}</div>

                        <div class="text-center">Actions</div>


                        <div class="col-span-12 ml-16 mt-2">
                            <div class="grid grid-cols-6 text-sm">
                                <div class="font-semibold flex">
                                    <span class="material-symbols-rounded mr-1 text-sm">arrow_forward_ios</span>
                                    DATE
                                </div>
                                <div class="col-span-5">TEXT TEXT TEXT</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            
        




            {% comment %} <table class="table table-zebra">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th>Todo</th>
                        <th class="text-center">Priority</th>
                        <th class="text-center">Projects</th>
                        <th class="text-center">Contexts</th>
                        <th class="text-center">Due Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todos %}
                        <tr class="hover">
                            <td class="text-center">{{ todo.id }}</td>
                            <td>DESCRIPTION SHIT</td>
                            <td class="text-center">
                                {% if todo.priority is None or todo.priority == "" %}
                                    -
                                {% else %}
                                    {% if todo.priority == "A" %}
                                        <div class="badge badge-error">high</div>
                                    {% elif todo.priority == "B" %}
                                        <div class="badge badge-warning">medium</div>
                                    {% elif todo.priority == "C" %}
                                        <div class="badge badge-success">low</div>
                                    {% else %}
                                        <div class="badge badge-info">very low</div>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if todo.projects.all.count == 0 %}
                                    -
                                {% else %}
                                    <div class="flex gap-x-2 items-center justify-center">
                                        {% for project in todo.projects.all %}
                                            <div class="badge badge-primary">{{ project.name }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if todo.contexts.all.count == 0 %}
                                    -
                                {% else %}
                                    <div class="flex gap-x-2 items-center justify-center">
                                        {% for context in todo.contexts.all %}
                                            <div class="badge badge-secondary">{{ context.name }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </td>
                            <td class="text-center">{{ todo.due_date|naturalday:"D d b Y"|capfirst }}</td>
                            <td>
                                BUTTON
                                BUTTON
                                BUTTON
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table> {% endcomment %}
        {% endif %}
    </div>
{% endblock %}