{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en" data-theme="emerald">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoGuardian</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />


    {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>

<body>
    <div class="navbar bg-base-200 border-b border-base-300 px-8 py-4">
        <div class="flex-1">
            <img src="{% static 'images/logo.png' %}" class="h-14 mx-2">
            <a class="ml-4 font-semibold text-xl" href="/">ToDoGuardian</a>
        </div>

        <div class="flex-none">

            <label class="swap swap-rotate mx-2">
  
                <!-- this hidden checkbox controls the state -->
                <input type="checkbox" class="theme-controller" value="night" />
                
                <!-- sun icon -->
                <span class="swap-off fill-current material-symbols-rounded">light_mode</span>
                
                <!-- moon icon -->
                <span class="swap-on fill-current material-symbols-rounded">dark_mode</span>
                
              </label>
        </div>
    </div>
        
    <div class="container mx-auto my-4 bg-base-100 rounded border border-base-300 p-2">
        <div class="bg-yellow-300">ACTIONS</div>
        
        <div>
            {% block content %}CONTENT{% endblock %}
        </div>
    </div>

    <footer class="footer footer-center p-4 bg-base-200 text-base-content border-t border-b border-base-300">
        <aside>
            <p>Copyright &copy; {% now "Y" %} - ToDoGuardian was created by Bernard Siebens and distributed under MIT License</p>
        </aside>
    </footer>
</body>

</html>